/*************************************
  Base
*************************************/

body {
  font-family: 'Tangerine';
}

/*************************************
  Nav
*************************************/

#primary-nav {
  height: 85px;

  .nav-link {
    font-size: 18px;
    margin-left: 30px;
  }
}