<div class="navbar-text">
  <%= link_to "tel:1-402-416-1775" do %>
   <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;
   (402) 416-1775
  <% end %>
</div>
<div class="ml-xl-3 navbar-text">
  <%= link_to "mailto:LeffertRealEstate@gmail.com" do %>
    <i class="fa fa-envelope-open-o" aria-hidden="true"></i> &nbsp;
    LeffertRealEstate@gmail.com
  <% end %>
</div>