<div class="navbar-text">
  <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;
  <a href="tel:1-402-416-1775">(402) 416-1775</a>
</div>
<div class="ml-xl-3 navbar-text">
  <i class="fa fa-envelope-open-o" aria-hidden="true"></i> &nbsp;
  <a href="mailto:LeffertRealEstate@gmail.com">LeffertRealEstate@gmail.com</a>
</div>