<footer class="footer p-3 mt-5">
  <div class="container-fluid h-100">
    <div class="mls-logos">
      <img id="mls-logo" src="https://s3.amazonaws.com/brokersofrealestate/images/MLS-clear.png" />
      <img class="ml-4" src="https://s3.amazonaws.com/brokersofrealestate/images/equal-housing-logo.png" />
    </div>
    <div class="social-media ml-auto">
      <%= link_to "https://www.facebook.com/BrokersofRealEstate/" do %>
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</footer>