/*
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "layouts/front";

 .pagination {
  font-size: 13.9px;
 }

 .fa-lg {
  font-size: 6rem;
 }

 .fa-md {
  font-size: 3.5rem;
 }