/**************************************************
  INDEX
**************************************************/

.site-index {
  .homepage-house-container {
    overflow:hidden;
    height: 400px;
  }

  #homepage-house {
    max-height: 500px;
  }

  #company-title h1 {
    line-height: 2rem;
  }

  @media (max-width: 576px) { 
    #home-page-contact-info a {
      font-size: 19px;
    }
  }

  #owner-description {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    p {
      font-size: 22px;
    }
  }

  @media (max-width: 992px) { 
    #owner-image {
      width: 300px;
    }
  }

  @media (min-width: 993px) {
    #owner-image {
      height: 500px;
    }
  }
}

/**************************************************
  CONTACT US
**************************************************/

/* Form */

#new_contact_form textarea {
  height: 300px;
}