.site-index .homepage-house-container {
  overflow:hidden;
  height: 400px;
}

.site-index #homepage-house {
  position: relative;
  bottom: 255px;

  @media (max-width: 992px) { 
    bottom: 152px;
  }
}

@media (max-width: 992px) { 
  #quick-action a.btn {
    font-size: 24px;
  }
}

.site-index #company-title h1 {
  line-height: 2rem;  
}

.site-index #owner-image {
  width: 300px;
}